<%
 include partials/header 
 include partial/navbar
%>
<div class="container-fluid">
  <img src="https://placehold.it/1600x128?text=HEADER" alt="Header image">
</div>

<div class="container">
  <h2 class="page-header">About</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis facere, maiores beatae sunt sapiente est ullam minus laboriosam. Odit dolore cupiditate neque beatae incidunt? Error, deleniti, cum. Nesciunt, iusto ut!</p>
</div>

<% include partials/footer %>