<% include partials/header %>
<div class="container">
  <header id="mainHeader">
  <% include partials/navbar %>
  </header>
  <div class="jumbotron">
    <h2>Welcome to My Portfolio</h2>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus accusantium ipsum quis earum quibusdam eaque autem, temporibus. Laudantium beatae debitis, maxime tempora quo molestias harum sequi, blanditiis iusto pariatur, illo!</p>
  </div>  
</div>
<% include partials/footer %>
